@import "../utilities/mixins";

main {
  margin-top: 13%;
  margin-bottom: 5%;
}

.centro div {
  @include centerMixin;
  width: fit-content;

}

.button {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 350px 350px;
  column-gap: 70px;
  justify-content: center;
  width: auto;
  margin-bottom: 80px;
}

.img-boton {
  display: grid;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.boton {
  margin-top: 80px;
  border-radius: 23px;
  border: none;
}

#sectionbotonindex {
  display: grid;
  margin: 3%;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 50px;

  .boton {
    border-radius: 23px;
    border: none;

    .img-boton {
      display: grid;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
    }

  }

}

.boxtext {
  font-size: 30px;
  padding: .3125rem;
  margin: 5px;
  font-weight: bolder;
  width: max-content;
  margin-top: 200px;
}


.video-wrapper {
  @include centerMixin;
  align-items: center;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 450px;
  height: 350px;
  overflow: hidden;
  background: #000000;
  border-radius: 8px;
  margin: 5%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

  }
}

.sectioninfo {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  margin-top: 5%;
  .sectioninfotext{
    display: flex;
    text-align: center;
    gap: 5%;
  }

  a {
    text-decoration: none;
    color: rgb(56, 52, 52);
    font-weight: bolder;
  }


}