#sectionArticulo{
    display: flex;
    flex-direction: column;
    .infoArticulo{
        display: grid;
        margin: 3%;
        margin-right: 3%;
        img{
            border-radius: 20px;
            width: 80px;
        }
    }
    .imgArticulo img{
        width: 500px;
        border-radius: 20px;
    }
}
.detallesPrenda p{
    display: flex;
    justify-content: center;
    width: 600px;
    font-size: 12px;
    text-align: center;
}
.sectionArticulo1{
    display: flex;
}
.divSection{
    display: flex;
    justify-content: center;
}