*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.devoluciones {
    p {
        font-weight: bolder;
        margin: 5%;
    }
}
.p_comprar{
    @include centerMixin;
    font-weight: bold;
    font-size: 32px;
}
.sectioninfo_comprar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;

    .sectioninfotext_comprar {
        text-align: center;
        gap: 5%;
    }

    a {
        text-decoration: none;
        color: rgb(56, 52, 52);
        font-weight: bolder;
    }
}
.confianza{
    margin-top: 20%;
    @include centerMixin;
}
