.grilla {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 3.125rem;

    .card {
        border-color: rgba(255, 255, 255, 0);
        width: 100%;
        height: 100%;

        .prendas {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .prenda-img {
                border-radius: 20px;
                width: max-content;
                height: auto;
                cursor: pointer;
            }

            .prenda-info {
                background-color: rgb(255, 255, 255);
                font-size: 13px;

                .articulo {
                    font-weight: bold;
                    font-size: 30px;
                    margin-bottom: 0px;
                    margin: 10px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                }
            }

            .prenda-info ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: bold;
                    list-style: none;
                    margin-left: 4%;

                    .span {
                        font-weight: lighter;
                    }
                }

            }
        }
    }
}

